/*Giphy Background*/
body{
    background-image: url("start.gif");
    height:100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

/*ABOUT*/


/*SKILLS*/

/*ACHIEVEMENTS*/

/*EDUCATION*/
